.taskpage {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    margin-left: 2rem;
    margin-top: 1rem;
    color: #fff;
  }
}
