.homepage {
  &__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    padding: 22% 5%;
  }
  &__box {
    padding: 2rem 5rem 0 3rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__signup {
    margin-right: 3rem;
  }
}
